Source: ros-hydro-cob-default-env-config
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-roslaunch
Homepage: http://ros.org/wiki/cob_default_env_config
Standards-Version: 3.9.2

Package: ros-hydro-cob-default-env-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This package contains configuration files for the default environments for Care-O-bot supported by IPA.
