Source: ros-hydro-cob-environments
Section: misc
Priority: extra
Maintainer: Florian Weisshardt <fmw@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/cob_environments
Standards-Version: 3.9.2

Package: ros-hydro-cob-environments
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cob-default-env-config
Description: This stack holds packages for IPA default environment configuration.
